# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1024']

  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c "trufflehog git file://. --since-commit HEAD --only-verified --fail"
        language: system
        stages: ["pre-commit", "pre-push"]

  - repo: https://github.com/ansible/ansible-lint
    rev: v26.2.0
    hooks:
      - id: ansible-lint
        files: ^orchestration/.*\.(ya?ml|yml|j2)$
        args:
          - "-p"
          - "orchestration/playbooks/playbook.yaml"

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.46.3
    hooks:
      - id: renovate-config-validator
        args: [--strict]

  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor

  - repo: https://github.com/NixOS/nixfmt
    rev: v1.2.0
    hooks:
      - id: nixfmt

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.15.4
    hooks:
      - id: ruff-check
        types_or: [ python ]
        args: [ --fix ]
      - id: ruff-format
        types_or: [ python ]

  # TODO: add local check with systemd-analyze verify
