# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c "trufflehog git file://. --since-commit HEAD --only-verified --fail"
        language: system
        stages: ["pre-commit", "pre-push"]

  - repo: https://github.com/ansible/ansible-lint
    rev: v25.11.0
    hooks:
      - id: ansible-lint
        files: ^orchestration/.*\.(ya?ml|yml|j2)$
        args:
          - "-p"
          - "orchestration/playbooks/playbook.yaml"

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.12.1
    hooks:
      - id: renovate-config-validator
        args: [--strict]

  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.16.3
    hooks:
      - id: zizmor

  - repo: https://github.com/NixOS/nixfmt
    rev: v1.1.0
    hooks:
      - id: nixfmt
