pihole.orangepi.home:80, pihole.home.mishok13.me {
	reverse_proxy http://localhost:31480
}

syncthing.orangepi.home:80 {
	reverse_proxy http://localhost:8384
}

transmission.orangepi.home:80 {
	reverse_proxy http://localhost:9091
}

omada.orangepi.home:80 {
	reverse_proxy http://localhost:8088
}

miniflux.home.mishok13.me {
	reverse_proxy http://localhost:9081
}

orangepi.tailf7350.ts.net {
        root * /usr/share/caddy
        file_server
	log
}

orangepi.home:80, orangepi:80 {
        root * /usr/share/caddy
        file_server
}
