global:
  scrape_interval: 30s

scrape_configs:
  - job_name: caddy
    static_configs:
      - targets: ['127.0.0.1:2019']
  - job_name: nodes
    static_configs:
      - targets:
          - 'orangepi:9100'
          - 'bigboi:9100'
          - 'beafiboi:9100'
          - 'tiniboi:9100'
  - job_name: gpus
    static_configs:
      - targets:
          - 'beafiboi:9400' # nvidia stats
  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]  # Look for a HTTP 200 response.
    static_configs:
      - targets:
        - https://mishok13.me
        - https://mishkovskyi.net
        - https://hass.mishok13.me
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9115
  - job_name: 'blackbox_exporter'
    static_configs:
      - targets: ['127.0.0.1:9115']
