[Unit]
Description=Daily Atuin PostgreSQL Database Backup Timer
Requires=atuin-backup.service

[Timer]
OnCalendar=*-*-* 02:51:29
Persistent=true

[Install]
WantedBy=timers.target
