[Unit]
Description=Daily Miniflux PostgreSQL Database Backup Timer
Requires=miniflux-backup.service

[Timer]
OnCalendar=*-*-* 02:43:14
Persistent=true

[Install]
WantedBy=timers.target
