services:

  atuin:
    container_name: atuin
    restart: always
    image: ghcr.io/atuinsh/atuin:v18.11.0@sha256:18dba8938704706806d3c1133629ff2658c08bfa7815d71a916a8f072b61945b
    command: server start
    volumes:
      - "~/.config/atuin:/config"
    links:
      - atuin-db:db
    ports:
      - 8888:8888
    environment:
      ATUIN_HOST: "0.0.0.0"
      ATUIN_OPEN_REGISTRATION: "true"
      ATUIN_DB_URI: postgres://atuin:atuin@db/atuin
      RUST_LOG: info,atuin_server=debug
    networks:
      - atuin

  atuin-db:
    container_name: atuin-db
    image: postgres:16@sha256:d4c3314b2dd74ff23cd6cd07e4d7e737cb6ef791c22a7cbd744cfbfb4815df72
    restart: always
    volumes:
      - "~/.local/share/postgres/atuin:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: "atuin"
      POSTGRES_PASSWORD: "atuin"
      POSTGRES_DB: "atuin"
    networks:
      - atuin

networks:
  atuin:
