services:

  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:v2.2.3@sha256:4504d794123c3f5410cc45bbc61e4d7dbcacec1e1b0cd2e599691430c94e5849
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /mnt/media/immich:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    environment:
      DB_PASSWORD: "858675bbcdb5101c"
      DB_USERNAME: "postgres"
      DB_DATABASE_NAME: "immich"
      DB_HOSTNAME: "immich-db"
      REDIS_HOSTNAME: "immich-redis"
    ports:
      - '2283:2283'
    depends_on:
      - immich-redis
      - immich-db
    restart: always
    healthcheck:
      disable: false

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:v2.2.3@sha256:bf339cbb44af6c2ef25d9128e1da51b2bec0cfd524846a83e3017c21bd71ddb4
    volumes:
      - model-cache:/cache
    restart: always
    healthcheck:
      disable: false

  immich-redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8.1.3-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always

  immich-db:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:16-vectorchord0.3.0-pgvectors0.2.0@sha256:5b434f184ec644c4e1a4076e2e7d4bee45631646a52e956b5ff74ac51e79cc00
    environment:
      POSTGRES_PASSWORD: "858675bbcdb5101c"
      POSTGRES_USER: postgres
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ~/.config/share/immich-db:/var/lib/postgresql/data
    restart: always

volumes:
  model-cache:
