services:

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest@sha256:ba3773e77f0bf571e44cb2aad028f240cfac6b1bb261634c5762992995b50b89
    container_name: jellyfin
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Etc/UTC"
      NVIDIA_VISIBLE_DEVICES: "all"
    volumes:
      - "/mnt/media/movies/:/data/movies"
      - "/mnt/media/tv/:/data/tvshows"
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    devices:
      - /dev/dri:/dev/dri
      - nvidia.com/gpu=all
    restart: unless-stopped
