services:

  blackbox_exporter:
    image: quay.io/prometheus/blackbox-exporter:v0.28.0@sha256:e753ff9f3fc458d02cca5eddab5a77e1c175eee484a8925ac7d524f04366c2fc
    restart: always
    container_name: blackbox_exporter
    ports:
      - "127.0.0.1:9115:9115"
