services:
  ollama:
    image: docker.io/ollama/ollama:0.14.0@sha256:4d1c3ff8badca57327c1eb35e1842f7a28f3578ef40c8488a58854e083f53a1b
    ports:
      - 11434:11434
    container_name: ollama
    restart: unless-stopped
    environment:
      # - OLLAMA_KEEP_ALIVE=24h
      OLLAMA_HOST: "0.0.0.0"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  ollama-webui:
    image: ghcr.io/open-webui/open-webui:0.7.2@sha256:16d9a3615b45f14a0c89f7ad7a3bf151f923ed32c2e68f9204eb17d1ce40774b
    container_name: ollama-webui
    depends_on:
      - ollama
    ports:
      - 8080:8080
    environment:
      - OLLAMA_BASE_URLS=http://ollama:11434
      - ENV=dev
      - WEBUI_AUTH=False
      - WEBUI_NAME=test
      - WEBUI_URL=http://localhost:8080
      - WEBUI_SECRET_KEY=testingwaters
    restart: unless-stopped
