services:

  pihole:
    restart: always
    image: pihole/pihole:2025.11.1@sha256:91dc91ddd413bf461c283204558f8f21839851e9824799075a7ceff7c77eea40
    container_name: pihole
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "127.0.0.1:31480:80/tcp"
    environment:
      TZ: 'Europe/Amsterdam'
      WEBPASSWORD_FILE: /run/secrets/pihole_password
      VIRTUAL_HOST: "pihole.mishok13.me"
    secrets:
      - pihole_password
    volumes:
      - "~/.local/share/pihole/:/etc/pihole"
      - "~/.local/share/dnsmasq:/etc/dnsmasq.d"
    cap_add:
      - NET_ADMIN
      - SYS_NICE

secrets:
  pihole_password:
    file: /etc/secrets/pihole-password
