services:
  transmission:
    image: lscr.io/linuxserver/transmission:4.0.6-r0-ls256@sha256:60f620b6597d1a3c06f3faf0ae1af7385b0f8f793b4d425cd4867423dd0800c7
    container_name: transmission
    restart: unless-stopped
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Etc/UTC"
      USER: "admin"
      PASS: "admin"
    volumes:
      - "/mnt/media/downloads/:/downloads"
      - "/mnt/media/transmission/watch/:/watch"
      - "~/.config/transmission/:/config"
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16.2944-ls299@sha256:60e5edcac39172294ad22d55d1b08c2c0a9fe658cad2f2c4d742ae017d7874de
    restart: unless-stopped
    container_name: sonarr
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Etc/UTC"
    volumes:
      - "~/.config/sonarr/:/config"
      - "/mnt/media/tv:/tv"
      - "/mnt/media/downloads:/downloads"
    ports:
      - 8989:8989

  radarr:
    image: lscr.io/linuxserver/radarr:5.28.0.10274-ls286@sha256:c984533510abe0219a70e80d15bd0d212b7df21baa0913759c4ce6cc9092240b
    container_name: radarr
    restart: unless-stopped
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Etc/UTC"
    volumes:
      - "~/.config/radarr/:/config"
      - "/mnt/media/movies:/movies"
      - "/mnt/media/downloads:/downloads"
    ports:
      - 7878:7878

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:1.37.0.5076-ls124@sha256:25d21c04c7cc39a706217abb77bb60b283d9eaaf16acf539c930e3c797e21f25
    container_name: prowlarr
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Etc/UTC"
    volumes:
      - "~/.config/prowlarr:/config"
    ports:
      - 9696:9696
    restart: unless-stopped
