services:
  transmission:
    image: lscr.io/linuxserver/transmission:4.0.6-r0-ls256@sha256:60f620b6597d1a3c06f3faf0ae1af7385b0f8f793b4d425cd4867423dd0800c7
    container_name: transmission
    restart: unless-stopped
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Etc/UTC"
      USER: "admin"
      PASS: "admin"
    volumes:
      - "/mnt/media/downloads/:/downloads"
      - "/mnt/media/transmission/watch/:/watch"
      - "~/.config/transmission/:/config"
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16.2944-ls303@sha256:37be832b78548e3f55f69c45b50e3b14d18df1b6def2a4994258217e67efb1a1
    restart: unless-stopped
    container_name: sonarr
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Etc/UTC"
    volumes:
      - "~/.config/sonarr/:/config"
      - "/mnt/media/tv:/tv"
      - "/mnt/media/downloads:/downloads"
    ports:
      - 8989:8989

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4.10291-ls294@sha256:a360633a3682d41e96f71a07ff36ecbdf2394a9628465b84b0a8437087715b41
    container_name: radarr
    restart: unless-stopped
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Etc/UTC"
    volumes:
      - "~/.config/radarr/:/config"
      - "/mnt/media/movies:/movies"
      - "/mnt/media/downloads:/downloads"
    ports:
      - 7878:7878

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0.5236-ls137@sha256:e74a1e093dcc223d671d4b7061e2b4946f1989a4d3059654ff4e623b731c9134
    container_name: prowlarr
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "Etc/UTC"
    volumes:
      - "~/.config/prowlarr:/config"
    ports:
      - 9696:9696
    restart: unless-stopped
