name: Validate Ansible playbook

on:
  push:
    branches:
      - main
    paths:
      - 'orchestration/**'
  pull_request:
    branches:
      - main
    paths:
      - 'orchestration/**'

permissions: {}

jobs:
  verify-ansible-playbook:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./orchestration

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        persist-credentials: false

    - name: Install uv
      uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7

    - name: Display Ansible and ansible-lint versions
      run: |
        uvx ansible --version
        uvx ansible-lint --version

    - name: Lint it
      run: |
        uvx --from ansible-core ansible-galaxy install -r requirements.yml
        uvx --from ansible-core ansible-playbook --syntax-check playbooks/playbook.yaml
        uvx ansible-lint playbooks/playbook.yaml
