name: Verify Fish Scripts

on:
  push:
    branches:
      - main
    paths:
      - 'home-manager/fish/**'
  pull_request:
    branches:
      - main
    paths:
      - 'home-manager/fish/**'

permissions: {}

jobs:
  verify-fish-scripts:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - uses: homebrew/actions/setup-homebrew@9d95677ac22eae39bdeb2ac8a196adb20a3cedbc
      - run: brew install fish
      - name: Verify Fish scripts
        run: |
          find home-manager/fish -name "*.fish" -print0 | while IFS= read -r -d '' file; do
            echo "Checking $file..."
            fish --no-execute "$file"
          done
