name: Verify Fish Scripts

on:
  push:
    branches:
      - main
    paths:
      - 'home-manager/fish/**'
  pull_request:
    branches:
      - main
    paths:
      - 'home-manager/fish/**'

permissions: {}

jobs:
  verify-fish-scripts:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: homebrew/actions/setup-homebrew@ac2ec1ccabf33716b2fe5f4d467e250296951780
      - run: brew install fish
      - name: Verify Fish scripts
        run: |
          find home-manager/fish -name "*.fish" -print0 | while IFS= read -r -d '' file; do
            echo "Checking $file..."
            fish --no-execute "$file"
          done
