name: Verify Nix and Home Manager

on:
  pull_request:
  push:
    branches: [main]

permissions: {}

jobs:
  build:
    name: Build ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - target: mishok13
            type: home-manager
          - target: tiniboi
            type: nixos
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
      - if: ${{ matrix.type == 'home-manager' }}
        run: nix run nixpkgs#home-manager -- build ---flake .#${{ matrix.target }}
      - if: ${{ matrix.type == 'nixos' }}
        run: nix run nixpkgs#nixos-rebuild -- build --flake .#${{ matrix.target }} --show-trace
