name: Verify Nix and Home Manager

on:
  pull_request:
    paths:
      - 'nixos/**'
      - 'home-manager/**'
      - 'flake.nix'
      - 'flake.lock'
      - '.github/workflows/nix.yaml'
  push:
    branches: [main]

permissions: {}

jobs:
  build:
    name: Build ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - target: mishok13
            type: home-manager
          - target: tiniboi
            type: nixos
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - if: ${{ matrix.type == 'home-manager' }}
        run: nix run nixpkgs#home-manager -- build --flake .#${{ matrix.target }}
      - if: ${{ matrix.type == 'nixos' }}
        run: nix run nixpkgs#nixos-rebuild -- build --flake .#${{ matrix.target }} --show-trace
