name: Verify Nix and Home Manager

on:
  pull_request:
  push:
    branches: [main]

permissions: {}

jobs:
  lints:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
      - run: |
          cd home-manager
          nix run nixpkgs#home-manager -- build --flake .#mishok13
