name: zizmor

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

permissions:
  security-events: write
  contents: read
  actions: read

jobs:
  zizmor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: zizmorcore/zizmor-action@c2c887f84674f9c15123e2905d2d307675d8bc01
